<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!--layout css-->
    <link rel="stylesheet" type="text/css" href="../layout.css" />
    <!--fontawesome icon CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--ion icon CDN-->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!--bootstrap CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!--  Jquery,Bootstrap.js, popper.js-->

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="topnav" id="myTopnav">
      <a href="./index.html" class="active1">Home</a>
      <a href="#news">About Us</a>
      <a href="./outTeam.html">Our Team</a>
      <a href="#contact">Career</a>
      <a href="#gallary">Gallary</a>
      <a href="#about">Clientele</a>
      <a href="#news">Testimonials</a>
      <a href="#contact">Enquiry</a>
      <a href="#about">Contact Us</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <!--NAVBAR2-->
    <div class="nav2">
      <img
        src="http://www.cogenttechnologies.in/assets/images/logo.png"
        height="70px"
        style="position: relative; left:50px;"
      />
      <div class="dropdown1">
        <a style="color: white; text-decoration: none;" href=""
          >VERIFICATIONS</a
        >
      </div>

      <div class="dropdown1">
        <button class="dropbtn1">
          INDUSTRIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown1-content">
          <table>
            <tr>
              <td><a href="./universities.html">Universities</a></td>
              <td><a href="#">Distribution</a></td>
            </tr>
            <tr>
              <td><a href="#">State Education Board</a></td>
              <td><a href="#">Retail</a></td>
            </tr>
            <tr>
              <td><a href="#">Education Institutes</a></td>
              <td><a href="#">Public Sector</a></td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="#">Enginering, Constructions & Operations</a>
              </td>
            </tr>
            <tr>
              <td><a href="#">Professional Services</a></td>
              <td><a href="#">Healthcare</a></td>
            </tr>
            <tr>
              <td><a href="#">Transport & Logistics</a></td>
              <td><a href="#">Finance</a></td>
            </tr>
            <tr>
              <td><a href="#">HR Managers</a></td>
              <td><a href="#">Hospitality</a></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="dropdown1">
        <button class="dropbtn1">
          PRODUCTS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown1-content">
          <table>
            <tr>
              <td><a href="#">Cogent Vita</a></td>
              <td><a href="#">Cogent Duco Drive</a></td>
            </tr>
            <tr>
              <td><a href="#">Cogent Xenia</a></td>
              <td><a href="#">Cogent Medical Kit</a></td>
            </tr>
            <tr>
              <td><a href="#">Cogent Veritas</a></td>
              <td><a href="#">Cogent Industria</a></td>
            </tr>
            <tr>
              <td><a href="#">Cogent Tecton</a></td>
              <td><a href="#">Cogent Activo</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="dropdown1">
        <button class="dropbtn1">
          SERVICES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown1-content">
          <table>
            <tr>
              <td><a href="#">CCTV Surveillance Solutions</a></td>
            </tr>
            <tr>
              <td>
                <a href="#">Biometric Solutions</a>
              </td>
            </tr>
            <tr>
              <td><a href="#">Computer Sales And Services</a></td>
            </tr>
            <tr>
              <td><a href="#">Computer Courses</a></td>
            </tr>
            <tr>
              <td><a href="#">Network Solutions</a></td>
            </tr>
            <tr>
              <td><a href="./eLearning.html">eLearning/Content Services</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="dropdown1">
        <button class="dropbtn1">
          SOLUTIONS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown1-content">
          <table>
            <tr>
              <td>
                <a href="./business_solutions.html">Business Solutions</a>
              </td>
            </tr>
            <tr>
              <td><a href="#">Cloud Based Applications</a></td>
            </tr>
            <tr>
              <td>
                <a href="./mobile_application.html">Mobile Applications</a>
              </td>
            </tr>
            <tr>
              <td><a href="#">Smart Class Room Solutions</a></td>
            </tr>
            <tr>
              <td><a href="#">Smart Class Contents</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!--navbar2 second-->
    <div class="nav2_second container-fluid">
      <div class="row">
        <div class="col-xl-2 col-md-12 bdr ">
          <img src="http://www.cogenttechnologies.in/assets/images/logo.png" /
          height="33px">
        </div>
        <div class="col-xl-2 col-md-4 bdr ">
          <a href="./main_solutions.html">SOLUTIONS</a>
        </div>
        <div class="col-xl-2 col-md-4 bdr">
          <a href="./main_services.html">SERVICES</a>
        </div>
        <div class="col-xl-2 col-md-4 bdr ">
          <a href="./main_product.html">PRODUCTS</a>
        </div>
        <div class="col-xl-2 col-md-6 bdr ">
          <a href="./main_industries.html">INDUSTRIES</a>
        </div>
        <div class="col-xl-2 col-md-6 bdr"><a href="#">VERIFICATIONS</a></div>
      </div>
    </div>
    <!--content-->
    <div
      style="background-color: blue; text-align: center;color:white; margin: 20px auto"
    >
      <h1>Products</h1>
    </div>
    <div
      class="row"
      style="text-align: left; padding: 10px auto; margin: auto 10px;"
    >
      <div
        class="col-sm-6 col-md-3"
        style="display: inline-block; margin: 5px auto; padding: 5px auto;"
      >
        <img
          src="../assets/product_icon.png"
          alt="product_icon"
          style="height:30px;width:30px"
        />
        <a
          href="#"
          style="font-size: 26px; font-weight: 400; text-decoration: none; position: relative; top: 8px;"
          >Cogent Vita</a
        >
      </div>
      <div
        class="col-sm-6 col-md-3"
        style="display: inline-block; margin: 5px auto; padding: 5px auto;"
      >
        <img
          src="../assets/product_icon.png"
          alt="product_icon"
          style="height:30px;width:30px"
        />
        <a
          href="#"
          style="font-size: 26px; font-weight: 400; text-decoration: none; position: relative; top: 8px;"
          >Cogent Duco Drive</a
        >
      </div>
      <div
        class="col-sm-6 col-md-3"
        style="display: inline-block; margin: 5px auto; padding: 5px auto;"
      >
        <img
          src="../assets/product_icon.png"
          alt="product_icon"
          style="height:30px;width:30px"
        />
        <a
          href="#"
          style="font-size: 26px; font-weight: 400; text-decoration: none; position: relative; top: 8px;"
          >Cogent Xenia</a
        >
      </div>
      <div
        class="col-sm-6 col-md-3"
        style="display: inline-block; margin: 5px auto; padding: 5px auto;"
      >
        <img
          src="../assets/product_icon.png"
          alt="product_icon"
          style="height:30px;width:30px"
        />
        <a
          href="#"
          style="font-size: 26px; font-weight: 400; text-decoration: none; position: relative; top: 8px;"
          >Cogent Medical Kit</a
        >
      </div>
    </div>
    <div
      class="row"
      style="text-align: left; padding: 10px auto; margin: auto 10px ;"
    >
      <div
        class="col-sm-6 col-md-3"
        style="display: inline-block; margin: 5px auto; padding: 5px auto; margin-bottom: 400px;"
      >
        <img
          src="../assets/product_icon.png"
          alt="product_icon"
          style="height:30px;width:30px"
        />
        <a
          href="#"
          style="font-size: 26px; font-weight: 400; text-decoration: none; position: relative; top: 8px;"
          >Cogent veritas
        </a>
      </div>
      <div
        class="col-sm-6 col-md-3"
        style="display: inline-block; margin: 5px auto; padding: 5px auto;"
      >
        <img
          src="../assets/product_icon.png"
          alt="product_icon"
          style="height:30px;width:30px"
        />
        <a
          href="#"
          style="font-size: 26px; font-weight: 400; text-decoration: none; position: relative; top: 8px;"
          >Cogent Industria</a
        >
      </div>
      <div
        class="col-sm-6 col-md-3"
        style="display: inline-block; margin: 5px auto; padding: 5px auto;"
      >
        <img
          src="../assets/product_icon.png"
          alt="product_icon"
          style="height:30px;width:30px"
        />
        <a
          href="#"
          style="font-size: 26px; font-weight: 400; text-decoration: none; position: relative; top: 8px;"
          >Cogent Tecton</a
        >
      </div>
      <div
        class="col-sm-6 col-md-3"
        style="display: inline-block; margin: 5px auto; padding: 5px auto;"
      >
        <img
          src="../assets/product_icon.png"
          alt="product_icon"
          style="height:30px;width:30px"
        />
        <a
          href="#"
          style="font-size: 26px; font-weight: 400; text-decoration: none; position: relative; top: 8px;"
          >Cogent Activo</a
        >
      </div>
    </div>
    <!--footer-->
    <div class="foot container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h4>About Cogent</h4>
          <ul class="footer-content">
            <li>About Cogent</li>
            <li>Company Profile</li>
            <li>Company Presentation</li>
            <li>Vision And Mission</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>APPLICATIONS</h4>
          <ul class="footer-content">
            <li>Cloud Based Applications</li>
            <li>Mobile Applications</li>
            <li>Client Server Applications</li>
            <li>Business Solutions</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>SOLUTIONS</h4>
          <ul class="footer-content">
            <li>IT Consultancy</li>
            <li>Legacy Migration</li>
            <li>System Integration</li>
            <li>Networking Services</li>
            <li>eLearning Services</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>SUPPORT & HELP</h4>
          <ul class="footer-content">
            <li>Enquiry</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
      <div class="text-center copyrights">
        <small>@2016 All Rights Reserved</small>
        <div class="icons">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-linkedin"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-googleplus"></ion-icon>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="../js/topnav.js"></script>
  </body>
</html>
