<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="row" style="height: auto;">
      <div class="col-lg-4 ">
        <div class="card" style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/BusinessSolutions.jpg"
            alt="Business Solutions"
            height="150px"
          />
          <div class="card-body">
            <h5 class="card-title">Business Solutions</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card " style="width: 18rem; margin: 20px auto; ">
          <img
            class="card-img-top"
            src="../assets/cloud-apps.png"
            alt="Cloud Based Applications"
            height="150px"
          />
          <div class="card-body">
            <h5 class="card-title">Cloud Based Applications</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/mobile_applications.jpg"
            alt="Mobile Applications"
            height="150px"
          />
          <div class="card-body">
            <h5 class="card-title">Mobile Applications</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 ">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/SmartClassroom.jpg"
            alt="Smart Class Room Solutions"
            height="127px"
          />
          <div class="card-body">
            <h5 class="card-title">Smart class Room Solutoins</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/dig_content.jpg"
            alt="Smart Class Contents"
            height="150px"
          />
          <div class="card-body">
            <h5 class="card-title">Smart Class Contents</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </body>
</html>
