<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/cctv.jpg"
            alt="Smart Class Contents"
            height="126px"
          />
          <div class="card-body">
            <h5 class="card-title">CCTV Surveillance Solutions</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/biometric.jpg"
            alt="Smart Class Contents"
            height="150px"
          />
          <div class="card-body">
            <h5 class="card-title">Biometric Solutions</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/computer.jpg"
            alt="Smart Class Contents"
            height="126px"
          />
          <div class="card-body">
            <h5 class="card-title">Computer Sales And Services</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/dig_content.jpg"
            alt="Smart Class Contents"
            height="150px"
          />
          <div class="card-body">
            <h5 class="card-title">Computer</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/network.jpg"
            alt="Smart Class Contents"
            height="150px"
          />
          <div class="card-body">
            <h5 class="card-title">Network Solutions</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card " style="width: 18rem; margin: 20px auto;">
          <img
            class="card-img-top"
            src="../assets/elearning.jpg"
            alt="Smart Class Contents"
            height="127px"
          />
          <div class="card-body">
            <h5 class="card-title">eLearning/Content Solutions</h5>

            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
